VITE_SUPABASE_PROJECT_ID=""
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_URL=""
# ASAAS_WEBHOOK_TOKEN=""
# ZAPI_WEBHOOK_SECRET=""
# ZAPSIGN_WEBHOOK_TOKEN=""
# ESCAVADOR_WEBHOOK_SECRET=""
# UAZAPI_ADMIN_TOKEN=""
# LOVABLE_API_KEY=""
